
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - Reachis</title>
    <link href="https://fonts.googleapis.com/css2?family=Vollkorn&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/StyleForDesktop.css" />

</head>
<body>
    <article class="Menu">
        <button class="BtnProfile">Профиль</button>
        <p style="margin-top: 0.6em; margin-bottom: 0em;"></p>
        <button class="BtnPlannings" asp-action="Plannings">Планинги</button>
        <img src="~/img/TurtleHint.svg" class="TurtleHint" />
        <form method="post" asp-controller="Account" asp-action="Logout">
            <button class="BtnLogout" type="submit"></button>
        </form>
    </article>
    <section class="Plannings">
        <div class="BackPlanning"></div>
        <button class="BtnIconPlusPlanning"></button>
    </section>
</body>
</html>
