
@{
    ViewData["Title"] = "PlusPlanning";
    Layout = "~/Views/Desktop/DesktopPlannings.cshtml";
}
@model Reachis.Models.Planner

    <div class="BackPannelPlus">
        <form method="post">
            <div class="text_for_input">
                <text class="PlanningAddName">Название планнера</text>
                <text class="PlanningAddDstart">Дата начала</text>
                <text class="PalnningAddDend">Дата завершения</text>
            </div>
            <input class="TbNamePlanning" asp-for="PlannerName" type="text" size="27">
            <input class="TbStartPlanning" asp-for="StartDday" type="date" size="27">
            <input class="TbEndPlanning" asp-for="EndDday" type="date" size="27">
            <div class="BtnsColors">

            </div>
            <input class="SubmitReg" type="submit" size="20" value="Регистрация" />
        </form>
    </div>

