body {
    background: #E5E5E5;
}
.containerBack {
    position: absolute;
    width: 1200px;
    height: 712px;
    left: 200px;
    top: 36px;
}

.FormLogin {
    position: absolute;
    width: 298px;
    height: 392px;
    left: 651px;
    top: 196px;
    background: linear-gradient(0deg, #FBF8ED, #FBF8ED), rgba(251, 248, 237, 0.76);
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    border-radius: 63px;
    font-family: 'Vollkorn', serif;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}


.InputEmail {
    position: absolute;
    height: 52px;
    left: 25px;
    top: 105px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 43px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Vollkorn', serif;
    font-size: 16px;
}

.InputPassword {
    position: absolute;
    height: 52px;
    left: 25px;
    top: 186px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 43px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
}

.Turtle {
    position: absolute;
    width: 114px;
    height: 116px;
    left: 94px;
    top: 1px;
}
.Octopus {
    position: absolute;
    width: 90px;
    height: 93px;
    left: 354px;
    top: 314px;
}
.Paper {
    position: absolute;
    width: 128px;
    height: 104px;
    left: 1179px;
    top: 501px;
}

.TurtleReg {
    position: absolute;
    width: 114px;
    height: 116px;
    left: 400px;
    top: 272px;
}

.OctopusReg {
    position: absolute;
    width: 103px;
    height: 92px;
    left: 918px;
    top: 514px;
}

.PaperReg {
    position: absolute;
    width: 128px;
    height: 104px;
    left: 740px;
    top: 105px;
}

.SubmitLogin {
    position: absolute;
    width: 133px;
    height: 50px;
    left: 84px;
    top: 267px;
    background: #FBCA9E;
    border-radius: 43px;
}

.Reg {
    position: absolute;
    left: 76px;
    top: 330px;
    color: black;
}
    .Reg:hover {
        text-decoration: underline;
        color: black;
    }



.FormRegistration {
    position: absolute;
    width: 534px;
    height: 392px;
    left: 536px;
    top: 196px;
    background: linear-gradient(0deg, #FBF8ED, #FBF8ED), rgba(251, 248, 237, 0.76);
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    border-radius: 63px;
    font-family: 'Vollkorn', serif;
}

.text_for_input {
    font-size: 18px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: right;
    color: rgba(0, 0, 0, 0.79);
}
.NicknameReg {
    position: absolute;
    width: 100px;
    height: 49px;
    left: 30px;
    top: 60px;
}
.EmailReg {
    position: absolute;
    width: 100px;
    height: 49px;
    left: 30px;
    top: 136px;
}
.PasswordReg {
    position: absolute;
    width: 104px;
    height: 49px;
    left: 26px;
    top: 213px;
}

.RegNickname {
    position: absolute;
    width: 239px;
    height: 52px;
    left: 143px;
    top: 48px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 43px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
}
.RegEmail {
    position: absolute;
    width: 239px;
    height: 52px;
    left: 143px;
    top: 125px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 43px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
}
.RegPassword {
    position: absolute;
    width: 239px;
    height: 52px;
    left: 143px;
    top: 199px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 43px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
}

.SubmitReg {
    position: absolute;
    width: 208px;
    height: 50px;
    left: 160px;
    top: 293px;
    background: #FBCA9E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 43px;
}
